*{
  box-sizing: border-box;
}

body
{
  
  font-family:helvetica, arial, sans-serif;
}

h1{
  text-align:center;
}

p{
  padding: 10px;
  font-size:125%
}

#container{
  margin: 0 10px 0 10px
}

section{
  position: relative;
  background-color: grey;
  margin-left: 2%;
  margin-bottom:20px;
  border: 1px solid black;
}

section > h2{
  position:relative;
  text-align:right;
  margin-top:0;
  padding: 5px 20px 5px 20px;
  border: 1px solid black;
  float: right;
  background-color:red;
}

section:nth-child(2) > h2{
  background-color: pink;
}

section:nth-child(3) > h2{
  background-color: yellow;
}

section p{
  position:relative;
  margin-top:50px;
}

/*Desktop Size Devices 992px and above*/
@media (min-width : 992px){
  section{
	float: left;
  }
  .col-lg-4{
	width: 31%;
  }
}

/*Medium size devices 768px - 991px*/
@media (min-width : 768px) and (max-width : 991px){
  section{
	float: left;
  }
  
  .col-med-6{
	width: 48%;
  }
  .col-med-6:nth-child(3){
	width:98%
  }
}
